services:
  postgres:
    image: postgres:16
    container_name: inventory_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: inventory_db
      POSTGRES_USER: inventory_user
      POSTGRES_PASSWORD: inventory_password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: